.container {
  height: 17em; /* 50% de 34em */
  width: 17em; /* 50% de 34em */
  background-color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.3em; /* 50% de 0.6em */
}

.container::after {
  content: "";
  position: absolute;
  height: 50.5%; /* 50% de 50.5% */
  width: 100%;
  background-color: #fff;
  bottom: 0;
  border-radius: 0 0 0.3em 0.3em; /* 50% de 0.6em */
}

.rainbow-color {
  background-color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  animation: spin 7s infinite;
  transform-origin: 50% 0;
}

@keyframes spin {
  30% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  55% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  85% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.rainbow-color-1 {
  height: 5.625em; /* 50% de 11.25em */
  width: 11.25em; /* 50% de 22.5em */
  border: 0.625em solid #fd004c; /* 50% de 1.25em */
  border-top: none;
  top: calc(50% + 2.81em); /* 50% de 5.62em */
  border-radius: 0 0 5.625em 5.625em; /* 50% de 11.25em */
  animation-delay: 1s;
}

.rainbow-color-2 {
  height: 5em; /* 50% de 10em */
  width: 10em; /* 50% de 20em */
  border: 0.625em solid #fe9000; /* 50% de 1.25em */
  border-top: none;
  top: calc(50% + 2.5em); /* 50% de 5em */
  border-radius: 0 0 5em 5em; /* 50% de 10em */
  animation-delay: 0.9s;
}

.rainbow-color-3 {
  height: 4.375em; /* 50% de 8.75em */
  width: 8.75em; /* 50% de 17.5em */
  border: 0.625em solid #fff020; /* 50% de 1.25em */
  border-top: none;
  top: calc(50% + 2.19em); /* 50% de 4.37em */
  border-radius: 0 0 4.375em 4.375em; /* 50% de 8.75em */
  animation-delay: 0.8s;
}

.rainbow-color-4 {
  height: 3.75em; /* 50% de 7.5em */
  width: 7.5em; /* 50% de 15em */
  border: 0.625em solid #3edf4b; /* 50% de 1.25em */
  border-top: none;
  top: calc(50% + 1.875em); /* 50% de 3.75em */
  border-radius: 0 0 3.75em 3.75em; /* 50% de 7.5em */
  animation-delay: 0.6s;
}

.rainbow-color-5 {
  height: 3.125em; /* 50% de 6.25em */
  width: 6.25em; /* 50% de 12.5em */
  border: 0.625em solid #33adff; /* 50% de 1.25em */
  border-top: none;
  top: calc(50% + 1.56em); /* 50% de 3.12em */
  border-radius: 0 0 3.125em 3.125em; /* 50% de 6.25em */
  animation-delay: 0.4s;
}

.rainbow-color-6 {
  height: 2.5em; /* 50% de 5em */
  width: 5em; /* 50% de 10em */
  border: 0.625em solid #2041ff; /* 50% de 1.25em */
  border-top: none;
  top: calc(50% + 1.265em); /* 50% de 2.53em */
  border-radius: 0 0 2.5em 2.5em; /* 50% de 5em */
  animation-delay: 0.2s;
}

.rainbow-color-7 {
  height: 1.935em; /* 50% de 3.87em */
  width: 3.75em; /* 50% de 7.5em */
  border: 0.625em solid #9320ff; /* 50% de 1.25em */
  border-top: none;
  top: calc(50% + 0.96em); /* 50% de 1.92em */
  border-radius: 0 0 1.875em 1.875em; /* 50% de 3.75em */
}
